<!DOCTYPE html>

<html>

<head>
    <title>SuperHeroDetails</title>
    <link rel="icon" href="/img/Marvel.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- {{>header}} --}}

        <p>SuperHero Details Based On ID</p>

        <form method="post" onsubmit="/superHeroID">
            <input placeholder="ID" name="ID">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>