<!DOCTYPE html>

<html>

<head>
    <title>SuperHeroDetails</title>
    <link rel="icon" href="/img/Marvel.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <p>SuperHero Details Based on Name</p>
        <form method="post" onsubmit="/superHeroName">
            <input placeholder="Name" name="Name">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>